<!DOCTYPE html>
<html lang="{{.Lang}}">
{{- partial "head.html" . -}}

<body>
    <div id="content" class="m-auto">
        <div id="content-wrap">
            {{- partial "header.html" . -}}

            <div class="ph-1">
                <h1 class="pb-0 mb-0 sans-serif fs-xl">{{.Title}}</h1>
                <div class="mb-2">{{.Date.Format .Site.Params.Peripheral.dateFormat}}</div>
                <div class="post">
                    {{.Content}}
                </div>
            </div>
            {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </div>

</body>

</html>