<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body class="color-parchment">
    <div id="content" class="m-auto">
        <div id="content-wrap">
            {{- partial "header.html" . -}}

            <h1 class="pb-0 mb-0 sans-serif fs-xl">{{.Title}}</h1>
            <div class="mb-2">{{.Lastmod.Format .Site.Params.Peripheral.dateFormat}}</div>

            {{.Content}}

            {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </div>

</body>

</html>