<div id="nav" class="flex flex-row pt-2 pb-2 align-center">

    <ul class="list-no-style flex flex-row p-0 m-0">
        {{$page := .Page }}

        {{ range .Site.Menus.main.ByWeight }}
        {{ $active := cond (or ($page.IsMenuCurrent .Menu .) ($page.HasMenuCurrent .Menu .)) "active" "" }}
        <li class="mr-1">
            <a class="no-decoration bold nav {{$active}}" title="{{ .Name }}" href="{{ .URL  | relLangURL }}">{{
                .Name
                }}</a>
        </li>
        {{ end }}
    </ul>

</div>