{{ define "main" }}

<div class="text-3xl pb-2">
    {{.Content}}
</div>

<div class="grid-md mb-2 grid-rhs">
    <div class="pt-1 color-default">
        <div class="pb-1">
            <a href="/blog">
                <h2 class="mt-0 pb-1">Blog posts</h2>
            </a>
            {{ $posts := (where .Site.RegularPages "Section" "post") }}
            {{ range first 10 $posts }}
            <div class="pr-30-md pr-0">
                <h3 class="mb-0"><a class="no-decoration sans-serif" href="{{ .Permalink }}">{{ .Title }}</a></h3>
                <div class="color-sub text-sm bold mb-min">{{.Date.Format .Site.Params.Peripheral.dateFormat}}</div>
                <div class="color-sub">{{ .Summary }}</div>
            </div>
            {{ end }}
        </div>
        <a class="red" href="/blog">View all</a>
    </div>

    <div class="color-default hidden visible-md">

        <div class="hidden visible-md">
            <div class="p-1 border-all">
                <div class="pb-1">
                    <a href="/notes">
                        <h2 class="mt-0 pb-1">Notes</h2>
                    </a>
                    <div class="mt-1">
                        {{ $posts := (where .Site.RegularPages "Section" "note") }}
                        {{ range first 5 $posts }}
                        <div class="pr-30-md pr-0">
                            <h5 class="mb-0"><a class="no-decoration sans-serif break-word" href="{{ .Permalink }}">{{ .Title
                                    }}</a>
                            </h5>
                            <div class="color-sub text-sm bold mb-min">{{.Date.Format
                                .Site.Params.Peripheral.dateFormat}}
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
                <a class="red" href="/notes">View all</a>
            </div>
        </div>
    </div>
</div>

{{ end }}